@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-primary: #f6f1ec;
    --color-gold: #c8a98d;
    --color-dark: #3e2f2f;
    --color-button: #3e2f2f;
    --color-button-text: #ffffff;
    --font-serif: "Playfair Display", serif;
    --font-sans: "Inter", sans-serif;
}

/* Custom Scrollbars */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #c8a98d; }

.bg-gold { background-color: #c8a98d; }
.text-gold { color: #c8a98d; }
.border-gold { border-color: #c8a98d; }

